<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Simple Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">

            <thead class=" text-primary">
              <th>customerid</th>
              <th>zipcode</th>
              <th>phoneNumber</th>
              <th>city</th>
              <th>state</th>
            </thead>
            <tbody>
              <tr *ngFor="let row of customerList">
                <td class="ag-c">{{row.customerid}}</td>
                <td class="ag-c">{{row.custZipCode}}</td>
                <td class="ag-c">{{row.custPhoneNumber}}</td>
                <td class="ag-c">{{row.custCity}}</td>
                <td class="ag-c">{{row.custState}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title"> service resistration</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th>year</th>
                <td><input type="text" class="form-control" [(ngModel)]="year"/></td>
              </tr>
              <tr>
                <th>serviceName</th>
                <td><input type="text" class="form-control" [(ngModel)]="serviceName"/></td>
              </tr>
              <tr>
                <th>appPackage</th>
                <td><input type="text" class="form-control" [(ngModel)]="appPackage"/></td>
              </tr>
            </tbody>
          </table>

          <button (click)="onSave()" >Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
