<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Simple Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>code</th>
              <th>city</th>
              <th>firstName</th>
              <th>lastName</th>
              <th>phoneNumber</th>
              <th>state</th>
              <th>address</th>
            </thead>
            <tbody>
              <tr *ngFor="let row of custList">
                <td class="ag-c">{{row.custAreaCode}}</td>
                <td class="ag-c">{{row.custCity}}</td>
                <td class="ag-c">{{row.custFirstName}}</td>
                <td class="ag-c">{{row.custLastName}}</td>
                <td class="ag-c">{{row.custPhoneNumber}}</td>
                <td class="ag-c">{{row.custState}}</td>
                <td class="ag-c">{{row.custStreetAddress}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title"> service resistration</h4>       
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th>year</th>
                <td><input type="text" class="form-control" [(ngModel)]="year"/></td>
              </tr>
              <tr>
                <th>serviceName</th>
                <td><input type="text" class="form-control" [(ngModel)]="serviceName"/></td>
              </tr>               
              <tr>
                <th>appPackage</th>
                <td><input type="text" class="form-control" [(ngModel)]="appPackage"/></td>
              </tr>
            </tbody>
          </table>

          <button (click)="onSave()" >Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
