.navbar-spacer {flex:1 1 auto}

.navbar {display:flex; justify-content:space-between; align-items:center; width:100%; height:50px; padding:0 25px; background-color:#4680ff; color:#fff; font-size:12px; font-weight:350; z-index:2}

.navbar-logo {height:32px}

.navbar-brand {text-decoration:none; color:white}

.navbar-container {background-color:#fff; display:flex; flex-direction:column; position:absolute; top:0; bottom:0; left:0; right:0}

.navbar-sidenav-container {background-color:#fff}

.navbar-is-mobile .navbar {position:fixed; z-index:2}

.navbar-sidenav-container {flex:1}

.navbar-is-mobile .navbar-sidenav-container {flex: 1 0 auto}

a.mat-list-item.active {background:rgba(0, 0, 0, .04)}

#push-bottom {position:absolute; bottom:0}


.nav {height:100%; width:250px; color:#97a7c1; background-color:#101b33; overflow:hidden}
.nav-menu {position:relative; margin-bottom:60px}
.nav-menu li {overflow:hidden}
.nav-menu li a {position:relative; display:block; margin:5px 0 0; padding:7px 20px; text-align:left; font-size:12.5px; font-weight:400; color:#97a7c1; text-decoration:none; cursor:pointer}
.nav-menu li a:hover {font-weight:500; color:#fff}
.nav-menu li:first-child a {border-top:none}
.nav-icon {display:inline-flex; align-items:center; text-align:center; justify-content:center; font-size:16px; padding:0; margin-right:5px; border-radius:4px; width:30px; height:30px;}
.menu-txt {position:relative; top:0}
hr.depth-line {height:1px; width:250px; background-color:#344258; margin:5px 0 0}

.sub-menu {display:block; position:relative; background:#101b33; padding:6px 0}
.sub-menu li {overflow:hidden}
.sub-menu li:before {content:""; position:absolute; left:25px; width:1px; height:29px; margin-top:-6px; background:rgba(151,167,193,.3)}
.sub-menu li > a {text-align:left; padding:5px 7px 5px 62px; margin:0; font-size:12.5px; font-weight:400; color:#97a7c1; text-decoration:none}
.sub-menu li > a:hover {font-weight:500; color:#fff}
.sub-menu li > a:before {content:""; border-radius:50%; position:absolute; top:12px; left:46px; width:6px; height:6px}
.sub-menu li > a:after {content:""; position:absolute; top:15px; left:26px; width:18px; height:1px; background:rgba(151,167,193,.3)}
.sub-menu li.active > a:before, .sub-menu li:hover > a:before {background:#4680ff}

.nav-menu li.active > a {font-weight:700; color:#fff}

.page-header {padding:15px 20px 11px}
.page-header__title h5 {margin-bottom:5px}
.breadcrumb {display:flex; flex-wrap:wrap}
.breadcrumb > .breadcrumb-item {line-height:1; color:#595d6e}
.breadcrumb > .breadcrumb-item > a {font-size:11px; color:#4680ff; font-weight:400; text-decoration:none}
.breadcrumb-item + .breadcrumb-item {padding-left:.5rem}
.breadcrumb-item + .breadcrumb-item:before {content:"/"; display:inline-block; padding-right:.5rem; color:#595d6e}

.icon-authority:before { content: "\e8ea"; }
.icon-duid-set:before { content: "\e87e"; }
.icon-test-group:before { content: "\e8a1"; }
.icon-alpha-app-test:before { content: "\e91d"; }
.icon-black-list:before { content: "\e81b"; }
.icon-common-code:before { content: "\e915"; }
.icon-service-mgt:before { content: "\e924"; }