<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">
  <div class="progress-bar-container">
    <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async">
    </mat-progress-bar>
    <!-- <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner> -->
  </div>

  <!-- Top navbar -->
  <mat-toolbar class="navbar">
    <div class="navbar-logo" matTooltip="main" [routerLink]="['/main']">
      <img src="assets/images/tgm_logo.png">
    </div>
  
    <span class="navbar-spacer"></span>
    <div class="navbar-user">User Name</div>
   

  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav #snav mode="side" opened>
      <!-- <div style="width:300px; height:100%;background-color:aqua">

      </div> -->
      <div class="nav">
        <div class="nav-menu">
          <ul>
            <!-- 2depth menu -->
             <li *ngFor="let menu of menuAuthList"  routerLinkActive="active">
              <a *ngIf="!hasChild(menu)" [routerLink]="['/' + menu.path +'/']" class="nav-link">
                <span class="nav-icon"><i class="feather" [ngClass]="'icon-' + menu.path"></i></span>
                <span class="menu-txt">{{menu.menuCdNm}}</span>
              </a>
              <a *ngIf="hasChild(menu)" class="nav-link">
                <span class="nav-icon"><i class="feather" [ngClass]="'icon-' + menu.path"></i></span>
                <span class="menu-txt">{{menu.menuCdNm}}</span>
              </a>
              <ul *ngIf="hasChild(menu)" class="sub-menu">
                <li *ngFor="let child of menu.child" [routerLink]="['/' + menu.path +'/' + child.path ]" routerLinkActive="active">
                  <a class="nav-link">
                    <span class="menu-txt">{{child.menuCdNm}}</span>
                  </a>
                </li>
              </ul>
              <hr class="depth-line">
            </li>
          </ul>
        </div>
      </div> 
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">
      
      <!-- SubTitle Area -->
      <!-- <mat-toolbar class="sub-navbar" fxLayout="column" fxLayoutAlign="start start">  -->
        <div class="page-header" *ngIf="_router.url !== '/main'">
          <div class="page-header__title">
            <h5>{{navMenuTitle}}</h5>
          </div>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/main']">
                <i class="feather icon-home"></i>
              </a>
            </li>
            <li class="breadcrumb-item" *ngFor="let navMenu of navMenuList">
              <!-- <a *ngIf="navMenu.path !== ''" [routerLink]="['/' + navMenu.path +'/']">{{navMenu.menuCdNm}}</a> -->
              <span>{{navMenu}}</span>
            </li>
          </ul>
        </div>
      <!-- </mat-toolbar> -->
      <!-- //SubTitle Area-->
     

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>