<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sample.sample.dao.sampleDao">
               
	<select id="selectSampleList" parameterType="String" resultType="com.sample.sample.model.sampleModel">
	    SELECT 
			ID
		    ,NAME
		    ,CNTRCODE
			,POPULATION
		FROM CITY
    </select>
   	
   	<select id="selectSvcList" parameterType="String" resultType="com.sample.sample.model.svcModel">
	    
	    SELECT    
	      VA_SVC_ID ,
		  SPRT_YEAR ,
		  VA_TYPE_CD ,
		  VA_SVC_NM , 
		  APP_PKG_ID , 
		  REG_PGM_ID ,
		  MDF_PGM_ID , 
		  REGR_ID , 
		  REG_DT ,
		  MDFR_ID ,
		  MDF_DT
	    FROM TMVA_VA_SVC_M
	    	WHERE SPRT_YEAR = #{mdlYear}
	    
    </select>
   	
   	
   	
   	
   	
</mapper>