<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Simple Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>Year</th>
              <th>serviceName</th>
              <th>appPackage</th>
            </thead>
            <tbody>
              <tr>
                <td class="ag-c"></td>
                <td class="ag-c"></td>
                <td class="ag-c"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title"> service resistration</h4>       
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th>year</th>
                <td><input type="text" class="form-control"/></td>
              </tr>
              <tr>
                <th>serviceName</th>
                <td><input type="text" class="form-control"/></td>
              </tr>               
              <tr>
                <th>appPackage</th>
                <td><input type="text" class="form-control"/></td>
              </tr>
            </tbody>
          </table>

          <button (click)="onSave()" >Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
