<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Simple Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>bowleraddress</th>
              <th>bowlerLastName</th>
              <th>bowlerFirstName</th>
            </thead>
            <tbody>
              <tr *ngFor="let row of bowlersList">
                <td class="ag-c">{{row.bowlerAddress}}</td>
                <td class="ag-c">{{row.bowlerLastName}}</td>
                <td class="ag-c">{{row.bowlerFirstName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title">sample</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th>year</th>
                <td></td>
              </tr>
              <tr>
                <th>serviceName</th>
                <td>
                  <input type='checkbox' [(ngModel)]="female" />여성
                  <input type='checkbox' [(ngModel)]="male"  />남성
                </td>
              </tr>
              <tr>
                <th>appPackage</th>
                <td><select name="job" [(ngModel)]="selectBox" >
                  <option value="">직업선택</option>
                  <option value="학생">학생</option>
                  <option value="회사원">회사원</option>
                  <option value="기타">기타</option>
                </select></td>
              </tr>
            </tbody>
          </table>

          <button  (click)="onData()" >data</button>


        </div>
      </div>




    </div>
  </div>
</div>
